@import "tailwindcss";

@theme inline {
  --main-transition: 0.4s;
  --main-color: #835D2F;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body.hide {
  height: 100vh;
  overflow: hidden;
}
input {
  outline: none;
}
.main-color {
  color: var(--main-color);
}
.animated-arrow {
  animation: animated-arrow 1s infinite ease-in-out alternate;
}
@keyframes animated-arrow {
  from {
    transform: translateY(0);
  } to {
    transform: translateY(-10px);
  }
}